[submodule "tools/Pktgen/pktgen-dpdk"]
        path = tools/Pktgen/pktgen-dpdk
        url = http://dpdk.org/git/apps/pktgen-dpdk
        branch = master
        commit = 807b4d2cfcc8ded46ece85353cefe5d655674de3

[submodule "dpdk"]
	path = subprojects/dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "subprojects/dpdk-kmods"]
	path = subprojects/dpdk-kmods
	url = https://dpdk.org/git/dpdk-kmods
        ignore = all
